<div class="recovery-account border rounded-lg p-4 mx-auto my-4">
	<h1 class="mb-2">Setel Ulang Kata Sandi</h1>
	<p class="mb-4">Masukkan kata sandi baru Anda pada kolom dibawah ini, Kami akan mensetel ulang kata sandi Anda.</p>
	<form id="resetPasswordForm" accept-charset="utf-8" novalidate [formGroup]="form" (ngSubmit)="onSubmit()" AutofocusInvalid>
		<div class="form-group form-floating">
			<input
				id="newPassword"
				class="form-control"
				type="text"
				autocomplete="off"
				placeholder="Kata sandi baru"
				formControlName="newPassword"
				[ngClass]="{'is-invalid': submitted && f.newPassword.errors}"
				Autofocus>
			<label for="newPassword">Kata Sandi Baru</label>
			<div class="invalid-feedback" *ngIf="submitted && f.newPassword.errors">
				<div *ngIf="f.newPassword.errors.required">Masukkan kata sandi baru Anda!</div>
				<div *ngIf="f.newPassword.errors.minlength">Kata sandi baru minimal 8 karakter!</div>
				<div *ngIf="f.newPassword.errors.notstrength">Kata sandi baru harus mengandung minimal 1 karakter huruf besar, huruf kecil, dan angka!</div>
			</div>
		</div>
		<div class="form-group form-floating">
			<input
				id="confirmNewPassword"
				class="form-control"
				type="text"
				autocomplete="off"
				placeholder="Konfirmasi kata sandi baru"
				formControlName="confirmNewPassword"
				[ngClass]="{'is-invalid': submitted && f.confirmNewPassword.errors}">
			<label for="confirmNewPassword">Konfirmasi Kata Sandi Baru</label>
			<div class="invalid-feedback" *ngIf="submitted && f.confirmNewPassword.errors">
				<div *ngIf="f.confirmNewPassword.errors.required">Masukkan konfirmasi kata sandi baru Anda!</div>
				<div *ngIf="f.confirmNewPassword.errors.mismatch">Konfirmasi kata sandi baru yang Anda masukkan tidak cocok!
				</div>
			</div>
		</div>
		<button
			class="btn btn-lg btn-block btn-primary rounded-pill d-flex justify-content-center"
			type="submit"
			name="auth">
			<span class="spinner-border" *ngIf="btnLoading"></span>
			<span *ngIf="!btnLoading">Setel Ulang</span>
		</button>
	</form>
	<p class="text-center mt-4 mb-0">Sudah punya akun? <a routerLink="/signin">Masuk</a></p>
</div>