<div class="recovery-account border rounded-lg p-4 mx-auto my-4">
	<h1 class="mb-2">Verifikasi Kode OTP</h1>
	<p class="mb-4">Periksa pesan masuk e-mail Anda, buka pesan baru yang telah Kami kirimkan. Salin dan masukkan kode OTP.</p>

	<form id="checkOtpForm" accept-charset="utf-8" novalidate [formGroup]="form" (ngSubmit)="onSubmit()" AutofocusInvalid>
		<div class="form-group form-floating">
			<input id="codeOTP" class="form-control form-control-lg" type="number" autocomplete="off" placeholder="Masukkan Kode OTP Anda" maxlength="6" formControlName="codeOTP" [ngClass]="{'is-invalid': submitted && f.codeOTP.errors}">
			<label for="email">Kode OTP</label>
			<div class="invalid-feedback" *ngIf="submitted && f.codeOTP.errors">
				<div *ngIf="f.codeOTP.errors.required">Masukkan Kode OTP Anda!</div>
				<div *ngIf="f.codeOTP.errors.invalidOTPCode">Kode OTP yang Anda masukkan tidak valid!</div>
				<div *ngIf="f.codeOTP.errors.failed">Terjadi kesalahan. Permintaan Anda tidak dapat diproses!</div>
			</div>
		</div>

		<button class="btn btn-lg btn-block btn-primary rounded-pill d-flex justify-content-center" type="submit" name="auth">
			<span class="spinner-border" *ngIf="btnLoading"></span>
			<span *ngIf="!btnLoading">Verifikasi</span>
		</button>
	</form>
	<p class="text-center mt-4 mb-0">Sudah punya akun? <a routerLink="/signin">Masuk</a></p>
</div>