<div class="container-fluid">
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/file-upload']" routerLinkActive="active">File upload</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/upload-progressbar']" routerLinkActive="active">Upload progressbar</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/pagination-ngx-pagination']" routerLinkActive="active">Pagination
				ngx-pagination</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/pdf-with-jspdf']" routerLinkActive="active">PDF with jsPDF</a>
		</li>
	</ul>
	<router-outlet></router-outlet>
</div>