<div class="submit-form">
	<div *ngIf="!submitted">
		<div class="form-group">
			<label for="title">Title</label>
			<input id="title" class="form-control" type="text" name="title" placeholder="Entry title" autocomplete="off" [(ngModel)]="tutorial.title" required>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input id="description" class="form-control" type="text" name="description" placeholder="Entry description" autocomplete="off" [(ngModel)]="tutorial.description" required>
		</div>
		<button class="btn btn-sm btn-success mr-2" (click)="saveTutorial()">Submit</button>
		<button class="btn btn-sm btn-danger" onclick="window.history.back()">Cancel</button>
	</div>

	<div *ngIf="submitted">
		<h4>Tutorial was submitted successfully!</h4>
		<button class="btn btn-sm btn-success mr-2" (click)="newTutorial()">Add</button>
		<button class="btn btn-sm btn-primary" onclick="window.history.back()">Back</button>
	</div>
</div>